/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*container*/
.container{
  margin: auto;
  width: $width_container;
  max-width: 90%;
}
hr{
  margin-top: 10px;
}
.menu_responsive.active{
  display: flex;
}
