header{
  height: 200px;
}
/*barra di navigazione*/
.container_flex{
  @include my_container_flex
}
nav{
  background-color: white;
  position: fixed;
  left: 5%;
  width: 90%;
  padding-top: 20px;
  /*logo*/
  img{
    height: 40px;
  }
  /*menu*/
  ul.menu{
    @include my_list_inline;
    display: flex;
    align-items: center;
    li{
      margin-left: 22px;
    @include my_list_style;
    }
    li.btn{
      @include my_button;
      img{
        height: 24px;
        vertical-align: middle;
      }
    }

  }
}
@media (min-width: $width_responsive){
  li.burger,
  li.close,
  ul.menu_responsive{
    display: none;
  }
}
@media (max-width: $width_responsive){
  nav{
    left: 0%;
    width: 100%;
    img{
      margin-left: 5%;
    }
  }
  ul.menu{
    margin-right: 5%;
  }
  ul.menu li{
    display: none;
  }
  ul.menu li.burger{
    display: block;

  }
  ul.menu_responsive{
    padding: 0 5%;
    background-color: white;
    width: 100%;
    height: 400px;
    top: 100%;
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    li{
      @include my_list_style;
    }
    li.btn{
      @include my_button;
      text-align: center;
      img{
        height: 24px;
        vertical-align: middle;
      }
    }
  }
}
